<table border="1">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Details</th>
        <th>Price</th>
        <th>Action</th>
    </tr>
    <% for(var i=0; i<mydata.length; i++){ %>
        <tr>
            <td><%= i+1 %></td>
            <td><%= mydata[i].pname %></td>
            <td><%= mydata[i].pdetail %></td>
            <td><%= mydata[i].pprice %></td>
            <td>
                <a href="/edit-product/<%= mydata[i]._id %>">Edit</a> |
                <a href="/delete-product/<%= mydata[i]._id %>">Delete</a> |
                <a href="/add-product">Add Product</a>
            </td>
        </tr>
        

    <% } %>
</table>